.item_content.item_diagram {
  margin: 0px;
}
.v-tab {
  height: 100%;
}
.tab-box {
  height: 100%;
}
.tab-box:after{
  clear:both;
  content:"";
  display:block;
}
.tab-nav {
  float: left;
  height: 100%;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100px;
}
.tab-nav li {
  background: $white none repeat scroll 0 0;
  float: left;
  height: 33%;
  margin-bottom: 1px;
  width: 100%;
}
.tab-nav li a {
  color: $text-color;
  display: block;
  font-size: 12px;
  height: 100%;
  text-decoration: none;
  width: 100%;
  box-shadow: $shadow;
}
.tab-nav li a:hover{
  color: $text-color;
  text-decoration:none;
  //opacity: 0.2;
  background: #f4f4f4;
  transition: 0.2s;
}
.tab-nav li.select a{
  background: #4f5b62;
  color: #f0f7e8;
}
.tab-nav li {
  position: relative;
  text-align: center;
}
.tab-nav li.select::after {
  border-bottom: 13px solid transparent;
  border-left: 10px solid #4f5b62;
  border-top: 13px solid transparent;
  content: "";
  left: 100%;
  margin-top: -13px;
  position: absolute;
  top: 50%;
}

.tab-nav .active{
  display:inline-block;
  padding:5px;
}
.tab-box>div{
  margin:0 0 0 120px;
  background:#fcfcfc;
  height: 100%;
}

.highcharts-drilldown-data-label text {
  font-size: 11px !important;
  font-weight: bold !important;
  color: #000000 !important;
  fill: #000000 !important;
  text-decoration: none !important;
}

.icon-container {
  position: relative;;
}

.to-top-button {
  position: fixed;
  top: 135px;
  left: 12px;
  opacity: .5;
  background: red;
  width: 100px;
  height: 30px;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  font-family: "Open-sans", sans-serif;
  z-index: inherit;
  cursor: pointer;
  transition: .5s;

  &:hover {
    opacity: .9;
  }

  &:hover, &:focus{
    outline: none;
  }
}

.invisibility {
  opacity: 0;
}
//
//.highcharts-drilldown-data-label text tspan {
//  text-decoration: none;
//}
