@import './var';
@import "./reset";
//@import "../lib/font-awesome/scss/font-awesome";
@import "../js/renderClaster/claster";
//@import "../js/renderClaster/geocoder";
@import "./input";
@import "./mainMenu";
@import "./map";
@import "./legend";
@import "./loader";
@import "./rangeSlider.scss";
@import "./diagram.scss";
@import "./popup.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic);
@import url(https://unpkg.com/leaflet@1.0.3/dist/leaflet.css);
@import url(https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.css);

body {
  margin: 0;
  padding: 0;
  background: #e7ecf2;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 300;
}
.content__wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.main {
  text-align: left;
  height: 100%;
  transition: $transition-win;
  width: 100%;
  flex: 3 0;
  order: 2;
}
 .aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  transition: $transition-win;
  position: relative;
}
.heder {
  background: $header-color;
  color: white;
  flex-basis: 100%;
  height: $header-height;
  width: 100%;
  box-shadow: $shadow;
}
.block-top {
  height: 100%;
  transition: $transition-win;
  border-radius: $radius;
}
.block-bottom {
  transition: $transition-win;
  border-radius: $radius;
}

.heder {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.logo-link {
  background: #a1a1a1 none repeat scroll 0 0;
  display: block;
  height: 55px;
  padding: 0 10px;
  transition: all 0.5s ease 0s;
  width: 270px;
}
.item_header {
  background: $bloc-header-color none repeat scroll 0 0;
  display: flex;
  height: $block-heder-height;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 101;
  align-items: center;
  box-shadow: $shadow;
  color: $white;
  border-radius: $radius $radius 0 0;
}
.item_content {
  box-sizing: border-box;
  background: $white;
  color: #555;
  height: calc(100% - #{$block-heder-height});
  line-height: 30px;
  padding-left: 15px;
  text-align: left;
  border-radius: $radius;
}
.chart_2 .item_content {
  padding-left: 0;
}
.info  .item_content {
  font-size: 14px !important;
  line-height: 1.8;
  padding: 5px 15px;
}


.ico_hover {
  color: white;
  cursor: pointer;
  margin: 0;
  opacity: 0.7;
  transition: 0.3s;
}
.ico_hover:hover {
  color: white;
  opacity: 1;
}
.slider {
  background-color: $bloc-header-color;
  box-shadow: $shadow;
}
.info_type-body {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  border: 1px solid #cecece;
  border-radius: 5px;
  height: auto;
  margin: 0 auto;
  min-height: 20%;
  padding: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
}
.main__map {
  margin: $block-margin;
  height: 630px;
  width: calc(100% - #{$main__right} - (3 * #{$block-margin}));
  float: left;
  transition: $transition-win;
}
.main__chart {
  box-sizing: border-box;
  height: 380px;
  margin: 0 $block-margin $block-margin $block-margin;
  width: calc(100% - #{$main__right} - (3 * #{$block-margin}));
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.chart_1 {
  flex-basis: 50%;
  min-width: 45%;
  margin-right: $block-margin;
  box-shadow: $shadow;
}

.chart_3 {
  flex-basis: 100%;
  box-shadow: $shadow;
}

.chart_2 .highcharts-container  {
  //max-width: 95%;
}

.chart_2 {
  min-width: 45%;
  flex-basis:50%;
  box-shadow: $shadow;
  overflow: hidden;

  &.barChart_full {
    overflow-y: auto;
  }
}

.disabled {
  display: none;
}

.zero-height {
  height: 0;
}

.main__right {
  width: $main__right;
  float: right;
  margin:  $block-margin $block-margin $block-margin 0;
}
.main__right .slider {
  margin-bottom: $block-margin;
  box-shadow: $shadow;
}
.main__right .info{
  margin-bottom: $block-margin;
  box-shadow: $shadow;
}
.main__right .description{
  margin-bottom: $block-margin;
}
.main__right .legend{
  margin-bottom: $block-margin;
  box-shadow: $shadow;
}
.barChart_full {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;

  .multiChart {
    height: 33vh !important;
  }
}

.highcharts-drilldown-axis-label {
  text-decoration: none !important;
  color: $text-color !important;
  fill: #686868 !important;
}


.logo {
  box-sizing: border-box;
  height: 100%;
  padding: 9px 0;
}
.logo_link {
  background: rgba(43, 43, 43, 1) url("/img/logo_OD.svg") no-repeat scroll center center / 200px auto;
  height: 55px;
  padding: 0 43px;
  transition: all 0.3s ease 0s;
  width: 200px;
}


//.logo_link {
//  background: rgba(255, 0, 0, 0.5) url("/img/logo_OD.svg") no-repeat scroll center center / 32px auto;
//  height: 37px;
//  padding: 9px 0;
//  width: 50px;
//  transition: $transition-win;
//}

.hide .logo_link {
  background: rgba(43, 43, 43, 1) url("/img/logo_min.svg") no-repeat scroll center center / 32px auto;
  height: 37px;
  padding: 9px 0;
  width: 50px;
}

.fa-bars.fa-1x {
  padding: 20px 10px;
}

.map_title {
  font-weight: bold;
}


.item_bar_chart,
#item_chart,
#bubble_chart {
  height: calc(100% - 30px);
}

.multiChart {
  height: calc(100% + 50px);
}

.region_toggle {
  height: 30px;
  margin: 0 15px 0 0;
  text-align: right;
}

.toggle {
  display: inline-block;
  margin-right: 5px;
  color: $grey;
  margin-top: 4px;


  &.active {
    font-weight: bold;
    color: #000;
    font-family: arial;
  }
}

.noData {
  height: 100%;
  //display: flex;
  justify-content: center;
  align-items: center;
}

.region_toggle_item {
  cursor: pointer;
}

.region_toggle i {
  margin: 0 4px;
  cursor: pointer;
}

.highcharts-button text {
  fill: #dcdcdc !important;
}


.derj_simvol {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.derj_simvol > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
  margin-top: 7px;
  margin-right: 10px;
}
.derj_prapor {
  align-self: end;
  -webkit-align-self: center;
  box-shadow: 4px 4px 5px #888888;
  width: 115px;
  margin-top: 5px;
}
.derj_gerb{
  width: 90px;
}
.derj_simvol p {
  align-self: end;
  -webkit-align-self: flex-end;
}
.info .info_title {
  background-color: rgba(0, 0, 0, 0.11);
  border-top: 2px solid #3a3d3f;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  border-radius: 0 0 4px 4px;
}

.not-all-data {
  font-size: 36px;
}

.ukraine {
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.info_small_text {
 font-size: 12px;
  text-align: center;
}
.text_center {
  text-align: center;
}
.curency_select {
  outline: none;
  border: none;
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //appearance: none;
  background-color:#e2e2e2;
  color: #747474;
  padding: 3px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
.popup_buttom-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.curency > p {
  background: #e2e2e2;
  border-radius: 6px;
  display: block;
  line-height: 1.5;
  padding: 0 4px;
  color: #747474;
}
.curency_select * {
  outline: none;
  border: none;
  background: white;
  color: #747474;

}

@media screen and (max-width:1600px)  {
  .map_heder_title .test{
    width: 50%;
  }
}

@media screen and (max-width:1400px)  {
  .map_heder_title .test {
    width: 80%;
  }
}

@media screen and (max-width:1280px)  {
  .main__chart {
    flex-wrap: wrap;
  }
  .chart_1 {
    flex-basis: 100%;
    margin: 0;
  }
  .chart_2 {
    flex-basis: 100%;
    margin-top: $block-margin;
  }
}

@media screen and (max-width:1024px)  {
  //.hide .aside {
  //  margin-left: -250px;
  //}

  .logo_link {
    background: rgba(43, 43, 43, 1) url("/img/logo_OD.svg") no-repeat scroll center center / 120px auto;
    height: 40px;
    padding: 0 43px;
    transition: all 0.3s ease 0s;
    width: 200px;
  }
  .fa-bars.fa-1x {
    margin: 0 0 0 1px;
  }

  .hide .logo_link {
    background: rgba(43, 43, 43, 1) url("/img/logo_min.svg") no-repeat scroll center center / 25px auto;
    height: 22px;
  }

  .highcharts-root {
    max-height: 100% !important;
    max-width: 100% !important;
  }


  .item_content {
    height: auto;
  }
.aside {
  flex: 0 0 0;
  z-index: 600;
}
  .hide .aside {
    flex: 0 0 0;
    opacity: 0;
    width: 0;
    z-index: 600;
  }

  .hide .menu__items {
    width: 0;
  }
  .hide .menu__items li{
    display: none;
  }
  .hide .menu__item-text {
    margin-left: 0;
  }

 // .aside {
 //   flex: 0 0 0px;
 // }
 //.hide .menu__icon {
 //  margin-left: -250px;
 // }
 // .map_heder_title .test {
 //   width: 100%;
 //   padding-right: 10px;
 // }
  .fa-bars.fa-2x {
    font-size: 2em;
    margin: 0;
    padding: 5px;
    margin-left: 10px;
  }
  .heder {
    height: 40px;
  }
  .fa-expand {
    display: none;
  }
  .main__map {
    width: calc(100% - (2 * #{$block-margin}));
    float: none;
    margin: $block-margin;
    height: 350px;
  }
  .main__chart {
    width: calc(100% - (2 * #{$block-margin}));
    float: none;
    margin: $block-margin;
  }
  .main__right {
    width: calc(100% - (2 * #{$block-margin}));
    float: none;
    margin: $block-margin;
  }
}

@media screen and (max-width:768px) {

  #basemaps-wrapper {
    display: none;
  }

}

@media screen and (max-width:400px)  {

    .main__map {
    height: 280px;
  }
}