//#map {
//  padding: 0;
//  margin: 0;
//  width: 800px;
//  height: 500px;
//}




.block_map {
  position: relative;
}
#zoom_in, #zoom_out, #geolocate  {
  position: absolute;
}
.map_wrapper {
  width: 100%;
  height: 100%;
}
.maps__items {
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - #{$block-heder-height});
  z-index: 100;
}

#basemaps-wrapper {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
  bottom: 17px;
  box-shadow: 0 1px 3px 0 rgba(191, 205, 222, 0.75);
  padding: 7px;
  position: absolute;
  right: 5px;
  text-align: center;
  z-index: 101;
  color: #606060;
}
#basemaps-wrapper p {
  padding-bottom: 7px;
  color: #606060 !important;
}
.zoom_in_icon, .zoom_out_icon, .geolocate_icon {
  background: #4f5b62 none repeat scroll 0 0;
  color: white;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  z-index: 101;
  margin-left: 10px;
  box-shadow: $shadow;
  cursor: pointer;
}
.zoom_in_icon:hover, .zoom_out_icon:hover, .geolocate_icon:hover {
  opacity: 0.8;
  transition: all 0.2s ease 0s;
}
.zoom_in_icon {
  border-radius: $radius $radius 0 0;
  bottom: 84px;
}
.zoom_out_icon {
  border-radius: 0 0 $radius $radius;
  bottom: 52px;
}
.geolocate_icon {
  border-radius: $radius;
  bottom: 10px;
}
.ico_map_full {
  margin: 0;
  padding: 10px;
}

.map_heder_title {
  padding-left: 10px;
  width: 35%;
}

.map_heder_title .test {
  color: #606060;
  height: 22px;
  width: 100%;
}



.mapFull .aside-1 {
  flex-basis: 50px;
  //opacity: 0;
}

.mapFull .menu__items {
  width: 65px;
}
.menu__item-text {
  transition: $transition-win;
  white-space: nowrap;
}
.mapFull .menu__item-text {
  opacity: 0;
}



.mapFull  .main__map {
  float: left;
  height: calc(100vh - 85px);
}






//
//
//.mapFull .aside-1 {
//  flex-basis: 0px;
//  opacity: 0;
//}
//.mapFull .aside-1 .block * {
//display: none;
//}
////.mapFull .aside-1 .block-top {
////  margin: 0 0 0 15px;
////}
////.mapFull .aside-1 .main__bottom {
////  margin: 0 0 0 15px ;
////}
//
//.mapFull .main .main__bottom {
//  height: 0;
//  opacity: 0;
//}
//.mapFull .main .block-top {
//  height: calc(100% - ( #{$block-margin} * 2 ) );
//}
//.mapFull .main {
//  margin-left: $block-margin;
//}
//.mapFull .aside-1 {
//  width: $aside-1-width;
//}