.block_map {
  position: relative;
}

#zoom_in,
#zoom_out,
#geolocate,
.search_div,
.icon_grt_compare {
  position: absolute;
}

.map_wrapper {
  width: 100%;
  height: 100%;
}

.maps__items {
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - #{$block-heder-height});
  z-index: 100;
  box-shadow: $shadow;

  background: #ffffff url("/img/logo_gray.png") repeat scroll 0 0 / 270px 60px
}

#basemaps-wrapper {
  //background: #fff none repeat scroll 0 0;
  background: #4f5b62 none repeat scroll 0 0;
  border-radius: 4px;
  bottom: 17px;
  box-shadow: 0 1px 3px 0 rgba(191, 205, 222, 0.75);
  padding: 7px;
  position: absolute;
  right: 5px;
  text-align: center;
  z-index: 101;
  color: #606060;
}

#basemaps-wrapper p {
  padding-bottom: 7px;
  color: white;
  //color: #606060 !important;
  font-size: 14px;
}

.zoom_in_icon,
.zoom_out_icon,
.geolocate_icon,
.icon_grt_compare {
  background: #4f5b62 none repeat scroll 0 0;
  color: white;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  z-index: 101;
  margin-left: 10px;
  box-shadow: $shadow;
  cursor: pointer;
}

.zoom_in_icon:hover,
.zoom_out_icon:hover,
.geolocate_icon:hover,
.icon_grt_compare:hover {
  opacity: 0.8;
  transition: all 0.2s ease 0s;
}

.search_div {
  display: none;
  bottom: 124px;
  z-index: 101;

  &.active {
    display: block;
  }

}

.icon_grt_compare {
  border-radius: $radius;
}

.zoom_in_icon {
  border-radius: $radius $radius 0 0;
  bottom: 79px;
}

.zoom_out_icon {
  border-radius: 0 0 $radius $radius;
  bottom: 47px;
}

.icon_grt_compare {
  border-radius: $radius;
  bottom: 115px;

  span {
    position: absolute;
    background-color: #009971;
    color: #fff;
    border-radius: 100%;
    font-size: 18px;
    top: -9px;
    left: 13px;
    width: 25px;
    height: 25px;
    line-height: 26px;
  }
}

.geolocate_icon {
  border-radius: $radius;
  bottom: 10px;
}

.ico_map_full {
  margin: 0;
  padding: 10px;
}

.map_heder_title {
  padding-left: 10px;
  width: calc(100% - #{$block-margin});
  font-weight: bold;
}

.map_heder_title .test {
  color: #606060;
  font-size: 17px;
  height: 26px;
  width: 50%;
  transition: 0.5s;
}

.menu__item-text {
  transition: $transition-win;
  white-space: nowrap;
}

.test .menu__item {
  padding: 5px 5px 5px 9px;
}

.mapFull .main__map {
  float: left;
  height: calc(100vh - 76px);
}

.mapFull .fa-expand::before {
  content: "\f066";
}

.barChart_full .fa-expand::before {
  content: "\f066";
}

.chart_2 .highcharts-title {
  font-family: Arial, Helvetica, sans-serif !important;
}

.chart_2 .highcharts-drilldown-axis-label tspan {
  font-family: Arial, Helvetica, sans-serif !important;
}

.chart_2 .item_content {
  padding-top: 5px;
}

#coordinate {
  background: #4f5b62 none repeat scroll 0 0;
  border-radius: 6px;
  bottom: 10px;
  color: white;
  font-size: 13px;
  left: 53px;
  line-height: 32px;
  padding: 0 5px;
  position: absolute;
  z-index: 310;
}


.leaflet-control-search > input.search-input {
  display: block !important;
  width: 250px;
  border: none;
  margin: 0 0 0 2px;
  padding: 0px 5px;
  height: 26px;
  //transition: 1s;
}
.leaflet-control-search input.search-input:focus {

}

.leaflet-container .leaflet-control-search {
  border: 1px solid #777777;
  box-shadow: none!important;
}

.leaflet-control-search.leaflet-control {
  top:5px;
  right: 5px;
  width: auto;
}

.leaflet-control-search input.search-input:focus + ul.search-tooltip .search-tip {
  display: block;
}

//.leaflet-control-search ul.search-tooltip .search-tip {
//  display: none;
//}

.leaflet-control-search input.search-input:focus .search-tooltip {
  min-width: 302px !important;
}

//.leaflet-control-search .search-tip {
//  transition: 0s;
//}

.leaflet-top  .leaflet-control-search .search-tooltip {
  min-width: 201px!important;
  max-width: 338px!important;
  right: 0;
}
.leaflet-control-search .search-button {
opacity: 0.35;
}
.leaflet-control-search .search-cancel {
  display: none!important;
}
input {
  outline: -webkit-focus-ring-color auto 0px !important;
  padding: 0 5px;
}
//
//#map .leaflet-control-search.leaflet-control {
//  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
//  bottom: 38px;
//  color: white;
//  right: 0;
//  box-shadow: none;
//}
//#map .leaflet-control-search.leaflet-control .search-button {
//  background: #4f5b62 none repeat scroll 0 0;
//  border-radius: 4px;
//  font-size: 20px;
//  height: 32px;
//  text-align: center;
//  text-decoration: none;
//  transition: all 0.2s ease 0s;
//  width: 32px;
//}
//
//#map .leaflet-control-search.leaflet-control .search-button:hover {
//    opacity: 0.8;
//    transition: all 0.2s ease 0s;
//    background: #4f5b62 none repeat scroll 0 0;
//}
//#map .leaflet-control-search.leaflet-control .search-button::before {
//  font-family: 'FontAwesome';
//  content: "\f002";
//  color: white;
//}
