.popup_top, .popup_bottom {
  color: #009971;
  font-size: 14px;
  padding: 10px 0;
  width: calc(100% - 15px);
}
.popup_top {
  border-bottom: 1px solid #747474;
  font-weight: bold;
  color: $text-color;
}
.popup_top span, .popup_bottom span {
  float: right;
  font-weight: bold;
  color: #747474;
}
.popup_top h4, .popup_bottom h4 {
  color: #747474;
}
.popup_top .name {
  text-align: center;
  font-family: arial;
  line-height: 1.5;
}
.popup_item {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 0;
  line-height: 1.4;
}
.popup_item p {
  margin: 10px 0;
  padding: 0;
}
.popup_item i {
  color: deepskyblue ;
  margin-right: 10px;
}
.popup_top.claster {
  border-bottom: none;
}

