.slider {
    height: 60px;
    bottom: 12px;
    background-color: $grey;
    border-radius: $radius;
    transition: all .5s;
    overflow: hidden;
}

.slider_move {
    left: 30px;
}

.slider_title {
    margin: 6px 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
        font-size: 13px;
    }
}

.slider_range {
    box-sizing: border-box;
    padding: 0 20px;
    transition: all 0.5s ease 0s;
    width: 100%;
    background: #263238;
}


input[type=range]::slider-runnable-track {
    height: 2px;
}
input[type=range]::-moz-range-track {
    height: 2px;
}

.sliderRange {
    height: 59px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #3A3D3F;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 4px;
}

.current-year-container {
    display: flex;
    align-items: center;
    self-align: center;
    justify-content: space-around;
    width: 70px;
}

.current-year {
    border: 1.9px solid #fff;
    border-radius: 8px;
    padding: 6px;
    font-size: 20px;
    font-family: arial;
}

.container-fa {
    width: 30px;
    height: 30px;
    padding-top: 12px;
    cursor: pointer;
}

.current-year-container .left {
    padding-right: 14px;
    font-size: 20px;


}

.current-year-container .right {
    padding-left: 14px;
    font-size: 20px;
}

.rangeItem {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}