.slider {
    height: 60px;
    bottom: 12px;
    background-color: $grey;
    border-radius: $radius;
    transition: all .5s;
    overflow: hidden;
}

.slider_move {
    left: 30px;
}

.slider_title {
    margin: 6px 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
        font-size: 13px;
    }
}

.slider_range {
    box-sizing: border-box;
    padding: 0 20px;
    transition: all 0.5s ease 0s;
    width: 100%;
    background: #263238;
}


input[type=range]::slider-runnable-track {
    height: 2px;
}
input[type=range]::-moz-range-track {
    height: 2px;
}